[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=fix keys
Comment=
Exec=/home/lewis/boot/scripts/crouton-keys-swap-search-ctrl.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

