[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=postgres
Comment=
Exec=/usr/bin/sudo /etc/init.d/postgresql start
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

